---
import '../styles/about.css';
---

<section id="over-mij" class="about-me section">
  <div class="container">
    <div class="about-content">
      <div class="about-image">
        <div class="image-circle">
          <img src="/images/owner.jpg" alt="Katrien van Swirlazzo" />
        </div>
      </div>
      <div class="about-text">
        <h2>Over mij</h2>
        <p>
          Hallo! Ik ben de creatieveling achter Swirlazzo, waar elk stuk zorgvuldig met de hand wordt gemaakt met liefde en aandacht voor detail. Mijn passie voor het creëren van unieke gipsen decoratieve objecten begon toen ik de prachtige mogelijkheden ontdekte van het combineren van traditioneel vakmanschap met modern design.
        </p>
        <p>
        Elk Swirlazzo-object is geïnspireerd op de elegante wervelingen van terrazzopatronen en gemaakt om een vleugje ambachtelijke schoonheid in je interieur te brengen. Elk item is uniek, net als de huizen die ze zullen verfraaien.
        </p>
      </div>
    </div>
  </div>
</section>