<div class="logo">
  <img src="/swirlazzo-logo.svg" alt="Swirlazzo Logo" width="40" height="40" />
</div>

<style>
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
  }
</style>